  <footer class="page-footer font-small pt-5 mt-4">
    <div class="container text-md-left">
      <div class="row">
        <div class="col-md-8">
          <h5 class="navbar-brand">ShowMoney</h5>
          <p class="pr-5">Lorem ipsum dolor sit amet, mandamus consequuntur pri at, augue tollit accommodare duo at. In posse semper quo, brute munere mnesarchum ad his. Oportere consulatu qui eu. Ad modus porro mundi per. </p>
        </div>
        <div class="col-md-4">
          <h5 class="mb-3">References</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!">MDBootstrap</a>
            </li>
            <li>
              <a href="#!">eCharts</a>
            </li>
            <li>
              <a href="#!">WebSocket</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>
        </div>
        <div class="col-md-12 pb-5">
          <hr style="background-color:white">
          <a href="https://github.com/smalldoorman/show-me-the-money">Github Repository</a>
        </div>
      </div>
    </div>
  </footer>