<header>
    <nav class="navbar fixed-top navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="/">ShowMoney</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menubar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="menubar">
          <form class="form-inline md-form form-sm">
            <a href="#" id="menu-search"><i class="fa fa-search white-text mr-3" aria-hidden="true"></i></a>
            <input id="menu-search-input" class="form-control form-control-sm" type="text" placeholder="Search Stock" aria-label="Search">
          </form>

          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" onclick="lock.show();">My Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>