<div class="tab-pane fade" id="panel-search" role="tabpanel">
	<h3>Search</h3>
  <form id="trade" class="mt-5">
	  <div class="form-row d-flex align-items-end">
		  <div class="col-4">
			  <label for="price" class="my-font-small">Search symbol or company name</label>
			  <input type="text" class="form-control" name="price" placeholder="eg. GOOG">
		  </div>
		  <div class="col-12 mt-5">
			  <a class="btn btn-indigo" href="#0" style="margin:0">Search</a>
		  </div>
	  </div>
  </form>
</div>