<h3 class="mb-5 mt-5">Suggested Stocks</h3>
			  <div class="row card-deck text-center">
				  <div class="card suggested">
					  <div class="card-body">
						  <img src="https://www-03.ibm.com/press/us/en/attachment/20190.wss?fileId=ATTACH_FILE2&fileName=ibmpos_blue.jpg">
						  <p><span class="profit">0.00%</span><i class="fa fa-arrow-circle-down"></i></p>
						  <div>
							  <a class="btn btn-indigo btn-custom-small" href="#0">Detail</a>
							  <a class="btn btn-cyan btn-custom-small" href="#0">Trade</a>
						  </div>
					  </div>
				  </div>
				  <div class="card suggested">
					  <div class="card-body">
						  <img src="https://www-03.ibm.com/press/us/en/attachment/20190.wss?fileId=ATTACH_FILE2&fileName=ibmpos_blue.jpg">
						  <p><span class="profit">0.00%</span><i class="fa fa-arrow-circle-down"></i></p>
						  <div>
							  <a class="btn btn-indigo btn-custom-small" href="#0">Detail</a>
							  <a class="btn btn-cyan btn-custom-small" href="#0">Trade</a>
						  </div>
					  </div>
				  </div>
				  <div class="card suggested">
					  <div class="card-body">
						  <img src="https://www-03.ibm.com/press/us/en/attachment/20190.wss?fileId=ATTACH_FILE2&fileName=ibmpos_blue.jpg">
						  <p><span class="profit">0.00%</span><i class="fa fa-arrow-circle-down"></i></p>
						  <div>
							  <a class="btn btn-indigo btn-custom-small" href="#0">Detail</a>
							  <a class="btn btn-cyan btn-custom-small" href="#0">Trade</a>
						  </div>
					  </div>
				  </div>
				  <div class="card suggested">
					  <div class="card-body">
						  <img src="https://www-03.ibm.com/press/us/en/attachment/20190.wss?fileId=ATTACH_FILE2&fileName=ibmpos_blue.jpg">
						  <p><span class="profit">0.00%</span><i class="fa fa-arrow-circle-down"></i></p>
						  <div>
							  <a class="btn btn-indigo btn-custom-small" href="#0">Detail</a>
							  <a class="btn btn-cyan btn-custom-small" href="#0">Trade</a>
						  </div>
					  </div>
				  </div>
			  </div>