<section {{!-- id="user" --}} class="white-text">
	  <div class="container">
		  <div class="row tabs-wrapper mt-4">
			  <ul class="nav classic-tabs text-center" role="tablist">
				  <li class="nav-item nav-tab">
					  <a class="my-font-small nav-link waves-light active" data-toggle="tab" href="#panel-portfolio" role="tab"><i class="fa fa-user fa-2x" aria-hidden="true"></i><br>Portfolio</a>
				  </li>
				  <li class="nav-item nav-tab">
					  <a class="my-font-small nav-link waves-light" data-toggle="tab" href="#panel-history" role="tab"><i class="fa fa-history fa-2x" aria-hidden="true"></i><br>History</a>
				  </li>
				  <li class="nav-item nav-tab">
					  <a class="my-font-small nav-link waves-light" data-toggle="tab" href="#panel-trade" role="tab"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i><br>Trade</a>
				  </li>
				  <li class="nav-item nav-tab search-nav">
					  <a class="my-font-small nav-link waves-light" data-toggle="tab" href="#panel-search" role="tab"><i class="fa fa-search fa-2x" aria-hidden="true"></i><br>Search</a>
				  </li>
			  </ul>
		  </div>
	  </div>
  </section>