<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>My Account</title>
  <link rel="shortcut icon" href="images/favicon.png">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">
  <!-- custom css -->
  <link rel="stylesheet" href="styles/styles.css">
</head>

<body>
  <!-- header nav -->
  <header>
	  <nav class="navbar fixed-top navbar-expand-lg">
		  <div class="container">
			  <a class="navbar-brand" href="#"><strong>Site Name</strong></a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menubar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse justify-content-between" id="menubar">
				  <form class="form-inline md-form form-sm">
					  <a href="#"><i class="fa fa-search white-text mr-3" aria-hidden="true"></i></a>
					  <input class="form-control form-control-sm" type="text" placeholder="Search Stock" aria-label="Search">
				  </form>

				  <ul class="navbar-nav">
					  <li class="nav-item">
						  <a class="nav-link" href="#">Home</a>
					  </li>
					  <li class="nav-item">
						  <a class="nav-link" href="#">My Account</a>
					  </li>
					  <li class="nav-item">
						  <a class="nav-link" href="#">Logout</a>
					  </li>
				  </ul>
			  </div>
		  </div>
	  </nav>
  </header>

  {{{ user }}}

  <!--footer-->
  <footer class="page-footer font-small pt-5 mt-4">
    <div class="container text-md-left">
      <div class="row">
        <div class="col-md-8">
          <h5>Site Name</h5>
          <p class="pr-5">Lorem ipsum dolor sit amet, mandamus consequuntur pri at, augue tollit accommodare duo at. In posse semper quo, brute munere mnesarchum ad his. Oportere consulatu qui eu. Ad modus porro mundi per. </p>
        </div>
        <div class="col-md-4">
          <h5>References</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!">MDBootstrap</a>
            </li>
            <li>
              <a href="#!">eCharts</a>
            </li>
            <li>
              <a href="#!">WebSocket</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>
        </div>
        <div class="col-md-12 pb-5">
          <hr style="background-color:grey">
          <a href="https://github.com/smalldoorman/show-me-the-money">Github Repository</a>
        </div>
      </div>
    </div>
  </footer>

  <!-- JQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"></script>
  <!-- Data visualization echarts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.0.4/echarts-en.common.min.js"></script>
  <!-- moment.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>

  <!-- Custom JavaScript -->
  <script src="javascript/app.js"></script>
  <script src="javascript/chart.js"></script>
</body>
</html>
