{{!-- for nema's testing of Auth --}}

<!DOCTYPE html>
<html>
<head>
	<title>Show Me the money</title>
	<script src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
	<script src="https://code.jquery.com/jquery.js"></script>

	
</head>
<body>
{{{body}}}

	<script src = "../index.js" type = "text/javascript" ></script>
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/Faker/3.1.0/faker.min.js"></script>
</body>
</html>