  <section id="user" class="white-text">
	  <div class="container">
		  <div class="row">
			  <div class="col-6">
				  <h3>My Account</h3>
				  <p id="user_email" class="my-font-small"></p>
			  </div>
			  <div class="col-3">
			  	<p class="my-font-small">Total Amount</p>
				<p id="user_value"></p>
			  </div>
			  <div class="col-3">
			  	<p class="my-font-small">Available Amount</p>
				<p id="user_available"></p>
			  </div>
		  </div>
		  <div class="row tabs-wrapper mt-4">
			  {{> navbar}}
		  </div>
	  </div>
  </section>

  <section id="content" class="container tab-content card">

	  <!-- portfolio -->
	  <div class="tab-pane fade in show active" id="panel-portfolio" role="tabpanel">
		  <h3 class="mb-5">Portfolio</h3>
		  <div class="row mb-5">
			  <div id="chart-stock" class="col-8"></div>
			  <div id="portfolio" class="col-4"></div>
		  </div>
		  <h3 class="mb-5">My Stocks</h3>
		  <table class="myStocks table table-hover text-center">
		  </table>
	  </div>

	  <!-- market -->
	  <div class="tab-pane fade in show active" id="panel-market" role="tabpanel">
		  <h3 class="mb-5">Major Index</h3>
		  <div class="row mb-5">
			  <div id="chart-market" class="col-6"></div>
			  <table class="col-6 table table-hover text-center">
				  <thead>
					  <tr>
						  <th class="text-left"></th>
						  <th>Last</th>
						  <th>Change</th>
						  <th>% CHG</th>
					  </tr>
				  </thead>
				  <tbody>
					  {{#each market_index}}
					  <tr>
						  <td class="text-left">{{name}}</td>
						  <td>{{last_price}}</td>
						  <td>{{change}}</td>
						  <td>{{chg}}</td>
					  </tr>
					  {{/each}}
				  </tbody>
			  </table>
		  </div>
			  {{> suggestedStock}}
	  </div>

	  <!-- history -->
		{{> history}}

	  <!-- trade -->
		{{> trade}}

	  <!-- search -->
		{{> search}}
  </section>
  {{> footer}}

