@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800');

body {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 15px;
}

/* navbar */
header nav.navbar {
  background: linear-gradient(to right, #161616, #373737);
  padding: .2rem 1rem;
  box-shadow: none;
}

.navbar-brand { margin-right: 80px;}
.nav-link { font-size: 13px;}

/* search bar */
.md-form { margin-top: 0;}
.md-form .form-control {
  padding: .2rem .5rem;
  margin: 0;
  font-size: 13px;
  width: 200px;
}

/* table */
.company { font-size: 11px; opacity: .6;}
table.table td, table.table th { padding: .2rem 1rem;}
.table td, .table thead th { vertical-align: middle;}
table { font-size: 13px; line-height: 18px;}
table.table a { margin: 0 .3rem;}

.btn-custom-small {
  font-size: 11px;
  padding: .5rem 1rem;
  box-shadow: none;
  border-radius: 0;
}

#chart, #portfolio {
  width: 50%;
  height: 400px;
}

footer.page-footer { background: linear-gradient(to right, #161616, #373737);}
footer h5 { opacity: .5;}
footer a, footer p { font-size: 13px; opacity: .5;}
footer a:hover { opacity: 1;}
